{{! HEAD }}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/style.css" />

    <title>Jovian Juncture</title>

  </head>

  {{! BODY }}
  <body>
    <div class="hero">

      {{! NAVIGATION BAR }}
      <nav>
        <div class="navleft">
          <div class="logoparent">
            <div class="logochild">
              <a href="/start">
                <img src="/images/jjlogotype.png" width="110%" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="navright">
          <button
            type="button"
            class="btn btn-dark"
            onclick="startTabClicked()"
            id="navtab"
          ><a href="/start"><h5>HOME</h5></a>
          </button>
          <button type="button" class="btn btn-dark" id="navtab"><a
              href="/about"
            ><h5>ABOUT</h5></a></button>
          <button type="button" class="btn btn-dark" id="navtab"><a
              href="/bookings"
            ><h5>BOOKINGS</h5></a></button>
          <button type="button" class="btn btn-dark" id="navtab"><a
              href="/faqs"
            ><h5>FAQ</h5></a></button>
          <button type="button" class="btn btn-dark" id="navtab"><a
              href="/reviews"
            ><h5>REVIEWS</h5></a></button>
          <button type="button" class="btn btn-dark" id="contactbutton"><a
              href="/contact"
            ><h5>CONTACT</h5></a></button>
        </div>
      </nav>

      {{! MAIN CONTENT }}
      <main>
        {{{body}}}
      </main>

      {{! FOOTER }}
      <footer>
        <div class="footerleft">
          Copyright Chandler Abel 2022
        </div>
        <div class="footerright">
          {{#unless isLoggedIn}}
            <button type="button" class="btn btn-dark" id="submitbutton"><a
                href="/login"
              ><h5>LOGIN</h5></a></button>
          {{/unless}}
          {{#if isLoggedIn}}
            <form action="/logout" class="logoutform" method="post">
              <div class="logoutbuttonparent">
                <input
                  type="submit"
                  action="/logout"
                  value="LOG OUT"
                  class="btn btn-dark"
                  id="submitbutton"
                />
              </div>
            </form>
          {{/if}}
        </div>
      </footer>
    </div>
  </body>
</html>