<br />
<br />
<br />
<h1>Welcome to Jovian Juncture.</h1>
<br />

<div class="container text-center" id="aboutuscontentparent">
  <div class="row g-4" id="aboutuscontentchild">
    <div class="col-6 col-sm-2" id="aboutcolumntopleft"><img
        src="microphone.jpg"
        alt="picture of a microphone"
        width="100%"
      /></div>
    <div class="col-6 col-sm-2" id="aboutcolumntopright">
      <div class="abouttoprightparent">
        <div class="abouttoprightchild">
          <h4>Jovian Juncture is not only a collection of studio spaces, but
            also a collection of great minds and talent. When decades of our
            combined experience, as well as friendship met, Jovian Juncture was
            born.
            <br />
            <br />

            Community is central to our mission of ratifying the way studios are
            built and book, and how music is made. No longer does a studio with
            great gear, tons of space and talented staff, belong solely, to the
            artists with unlimited recourses.
            <br />
            <br />

            These spaces are for, by and in our community.  
          </h4>
        </div>
      </div>
    </div>

    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>

    <div class="col-6 col-sm-2" id="aboutcolumnbottomleft">
      <div class="aboutbottomleftparent">
        <div class="aboutbottomleftchild">
          <h4>With two state of the art studios, we are equipped to handle any
            project you could bring us. We value excellence, productivity and
            most importantly creativity while working with you to achieve your
            goals.
            <br />
            <br />
            Our team of professionals are some of the best in the business, and
            we look forward to making a project that you can be proud of and
            that sounds out of this world.
            <br />
            <br />
            — Jovian Juncture Team
          </h4>
        </div>
      </div></div>
    <div class="col-6 col-sm-2" id="aboutcolumnbottomright">
      <img
        src="recordingengineer.jpg"
        alt="picture of recording engineer"
        width="100%"
      />
    </div>
  </div>
</div>
<br />
<br />
<br />