{{#if booking}}
<div class="displaybookingsparent">
        
            <ol>
          <li>
            <h2>{{bookingSlot.value}}</h2>
            _____________________
            ID: {{id}}
          </li>
          </ol>
</div>
