<div class="contactcontentparent">
  <br>
  <div class="contactheader">
  <h1>Contact</h1>
  </div>
  <div class="contactcontentchild">
  
  {{#if validationErrors.length}}
  <div class="validationerror">

<h4>A review was not able to be added because:</h4>
<ul>
  {{#each validationErrors}}
  <li>{{this}}</li>
  {{/each}}
  <br>
  <button type="button" class="btn btn-dark" id="navtab"><a href="/contact"><h5
          >Back</h5></a></button>
  </div>
  {{else}}
  
    <div class="contactleft">
      <h2>Contact Information:</h2>
      <br />
      <h3>Studio Address:</h3>
      <p>14201 Huston St.<br />Los Angeles, California<br />91423</p>
      <h3>Phone Number:</h3>
      <p>(922) 734 8771</p>
      <h3>Email:</h3>
      <p>info@jovianjuncturestudios.com</p>
    </div>
    <div class="contactright">
      <h2>Contact Us:</h2>
      <br />
      <form action="/contact/message/add" method="post">

        <div class="form-outline mb-4">
          <input
            type="text"
            name="artistname"
            id="form2Example1"
            class="form-control"
          />
          <label class="form-label" for="form2Example1">Artist Name</label>
        </div>

        <div class="form-outline mb-4">
          <input
            type="text"
            name="email"
            id="form2Example1"
            class="form-control"
          />
          <label class="form-label" for="form2Example1">Email</label>
        </div>

        <div class="form-outline mb-4">
          <input
            type="text"
            name="subject"
            id="form2Example3"
            class="form-control"
          />
          <label class="form-label" for="form2Example3">Subject</label>
        </div>

        <div class="form-outline mb-4">
          <input
            type="text"
            name="yourmessage"
            id="form2Example4"
            class="form-control"
          />
          <label class="form-label" for="form2Example4">Your Message</label>
        </div>

       
        <button type="submit" value="Login" class="btn btn-dark"><h5
          >Send</h5></button>
      </form>

    </div>
  </div>
  {{/if}}
</div>