{{! SENT CONFIRMATION CONTENT }}
<div class="contactcontentparent">
  <div class="contactcontentchild">

    {{! Confirmation Message }}
    <div class="contactconfirmationparent">
      <h2>Your message has been sent.</h2>

      {{! Home Button }}
      <button type="button" class="btn btn-light" id="aboutbutton"><a
          href="/start"
        ><h5>Home</h5></a></button>
    </div>
  </div>
</div>