<div class="startcontentparent">
  <div class="startcontentchild">
    <h2>Let us help you create a project that sounds out of this world.
      <br /></h2>
    <br />
    <button type="button" class="btn btn-dark" id="bookingsbutton"><a
        href="/bookings"
      ><h5>AVAILABLE BOOKINGS</h5></a></button>
  </div>
</div>