{{!-- {{#if update}}
  <div class="updatereviewparent">
    <div class="updatereviewchild">
      <form action="/update-review{{id}}" method="post">
        <div>
          Review:<input type="text" name="reviewtext" value="{{text}}" />
        </div>
        <div>
          Name:<input type="text" name="artistname" value="{{name}}" />
        </div>
        <input type="submit" value="confirm changes" />
      </form>
    </div>
  </div>
{{/if}} --}}